body {
    font-family: 'Raleway', sans-serif;
}

a:active {
    color: #44BEC7;
}

.center {
    text-align: center;
}

.info-wrapper {
    margin: 4rem auto;
    max-width: 75ch;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list > li {
    margin: 0.5rem 0;
}
