body {
    font-family: 'Raleway', sans-serif;
    background-color: #2C2F33;
    color: #fff;
}

h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.15rem;
}

p {
    margin: 0.75rem 0;
}

hr {
    margin: 1.5rem 0;
}

a {
    color: #8ed8dd;
}

a:active, a:visited {
    color: #44BEC7;
}

.center {
    text-align: center;
}

.info-wrapper {
    margin: 4rem auto;
    padding: 0 1.5ch;
    max-width: 75ch;
}

.invite-wrapper {
    margin: 2rem 0;
}

.invite-button {
    border: none;
    border-radius: 3px;
    background-color: #7289DA;
    color: #fff!important;
    text-decoration: none;
    padding: 0.33rem 0.5rem;
    box-shadow: 0 0.15ch 0.5ch #000;
    transition: background-color 0.2s;
}

.invite-button:hover {
    background-color: #8ea1e1;
}

.invite-button:hover:focus {
    background-color: #4e5d94;
}

.discord-logo {
    content: url("/Discord-Logo-White.svg");
    height: 1.33rem;
    position: relative;
    top: 0.3rem;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list > li {
    margin: 0.5rem 0;
}
